<h2>Категории</h2>
<% @types.each do |p| %>
  <ul><%= p %>
    <% @categories[p].each do |c| %>
    	<li><%= c.name %><a href='/admin/category/<%= c.id %>/delete'>удалить</a></li>
    <% end %>
    <li>
		<form method='post' action="/admin/category">
			<input type='hidden' name='category[type]' value='<%= p %>' />
			<input type='text' name='category[name]' />
			<input type='submit' value='добавить'>
		</form>
    </li>
  </ul>
<% end %>