<div id='pagination'>
	<ul>

		<% current_page = @collection.current_page %>
		<% if (current_page - 1).abs > 4 %>
			<li style='margin-right: 20px;'>
				<a class='paginate_link' href='<%= url_for(@route, :page => 1, 
		  		:user_id => (@user ? @user.id : nil) ) %>?<%= request.query_string %>'>1</a>
		  	</li>			
		<% end %>

		<% 1.upto(@collection.num_pages) do |page| %>
		  <% inside_window = ((current_page - page).abs <= 4) %>

		  <% if inside_window %>
		  	<li <%= "class='active'" if page == @collection.current_page %> >
		  		<a class='paginate_link' href='<%= url_for(@route, :page => page, 
		  		:user_id => (@user ? @user.id : nil) ) %>?<%= request.query_string %>'><%= page %></a>

		  	</li>
		  <% end %>  

		<% end %>

		<% if (current_page - @collection.num_pages).abs > 4 %>
			<li style='margin-left: 20px;'>
				<a class='paginate_link' href='<%= url_for(@route, :page => @collection.num_pages, 
		  		:user_id => (@user ? @user.id : nil) ) %>?<%= request.query_string %>'><%= @collection.num_pages %></a>
		  	</li>			
		<% end %>		

	</ul>
</div>
<div style='clear:both'></div>

