<div style='display:none'>
    <div id='new_image_dialog' style='margin: 20px; padding: 10px;'>
        <form id='new_image_form' action='/image' method='post' enctype='multipart/form-data'>
            <div class='field'>
                <label for='category'>Раздел</label>
                <select  name='category' id='image_category'>
                    <option disabled selected='selected' value='0'>Выберите категорию</option>
                <% @categories.each do |c| %>
                    <option value='<%= c.id %>'><%= c.name %></option>
                <% end %>
                </select>
                <div class='error' id='image_category_error' style='color: red; padding-left: 40px; display:none;'>
                    Категория не выбрана
                </div>                   
            </div>
            <div class='field'>
                <label for='title'>Описание</label>
                <input type='text' id='image_title' name='title' value='' style='width: 400px;'/>
            </div>
            <div class='field'>
                <label for='image'>Изображение</label>
                <input type='file' id='image_image' name='image' style='width: 400px;'/>
            </div>
            <div class='field'>
                <input type='checkbox' name='is_published' value='1' checked/>Опубликовать в ленте
            </div>            
            <div class='hint' style='margin-top: 10px;'>
                <ul>
                    <li>Картинки с низким качеством (разрешение менее 400x400) будут удаляться</li>
                    <li>Картинки имеющие ссылки на другие сайты будут удаляться</li>
                    <li>Картинки содержащие сцены сексуального характера будут удаляться</li>
                </ul>
            </div>            
            <div class='actions'>
                <input type='submit' value='Отправить' />
            </div>
        </form>
    </div>
</div>

<script type="text/javascript">
$(document).ready(function() {
$("#new_image_link").fancybox({
                'titlePosition'     : 'inside',
                'transitionIn'      : 'elastic',
                'transitionOut'     : 'elastic'
            });

$('#new_image_form').submit(function () {
    var submit = true;
    var category = $('select#image_category option:selected').val();    
    if (category == '0') {
        $('div#image_category_error').fadeIn();
        submit = false;
    } else {
        $('div#image_category_error').fadeOut();
    }
    return submit;
});

});
</script>

<div class='panel'>
    <div class='filter'>
        <select id='image_category_select' name='category'/>
            <option value='all' selected>Все</option>
            <% @categories.each do |c| %>
                <option value='<%= c.id %>'><%= c.name %></option>
            <% end %>
        </select>
    </div>
    <div class='actions' style='float: left; margin-left: 100px;' >
        <a href='#new_image_dialog' id='new_image_link' style='line-height: 32px; height: 32px; display: inline-block; vertical-align: top;'><img src='/images/plus_32.png' alt='Добавить'/>Добавить</a>
    </div>
    <div style='color: #0A499B; font-size: 9pt; float: right'>
        Показано <%= @images.limit_value %> из <%= @images.total_count %>
    </div>    
    <div class='clear'></div>
</div>


<div class='collection'>
  <%= erb :images_collection %>
</div>
