<%= paginate @images, :route => :images %>

<div class='page'>

<% @images.each do |p| %>
  <div class='post image'  id='<%= p.id %>'>
    <a id='url' style='display:none' href='<%= p.image.url %>'></a>
    <div class='image_container' style='margin: 0 auto; text-align: center;'>
      <div class='image_thumb' style='background-image: url("<%= p.thumb.url %>");'></div>
    </div>
    <h1><%= simple_format p.title %></h1>
      <div class='send_to_friend'>
        <a href='#send_to_friends' class='send_to_friends_link'>
          <img src='/images/send_32.png' alt='Отправить другу'/>
        </a>
      </div>
    <div class='comments'><a href="#" id='<%= p.id %>' class='show_comments_link'><%= p.comments.count %></a></div>
      <% if (p.user == current_user  || development?) %>
      <div class='remove' style='float:left'>
        <a id='<%= p.id %>' href='#' class='remove_post'>
          <img src='/images/remove_32.png' alt='Удалить'/>
        </a>
      </div>
      <% end %>    
      <div class='votes_box'>
          <a href='#' class='post_vote_up' id='<%= p.id %>'><img src='/images/up_24.png'></a>
          <span id='votes'><%= p.rating %></span>
          <a href='#' class='post_vote_down' id='<%= p.id %>'><img src='/images/down_24.png'></a>
      </div>
    <div class='clear'></div>
  </div>
<% end %>
<div class='clear'></div>

</div>

<%= paginate @images, :route => :images %>