<!DOCTYPE html>
<html>
	<head>
		<title>Летопись</title>
		<meta http-equiv="content-type" content="text/html; charset=utf-8">
		<link href="/stylesheets/style.css" media="screen" rel="stylesheet" type="text/css" />
	</head>
	<body>

<div class='content'>	
	<div style='text-align: center; margin-top: 100px;'>
		<h1>Из-за длительного простоя вы были отключены</h1>
		<h2>Пожалуйста зайдите в приложение снова</h2>
	</div>
</div>

	</body>
</html>