<!DOCTYPE html>
<html>
	<head>
		<title>Летопись</title>
		<meta http-equiv="content-type" content="text/html; charset=utf-8">
		<link href="/stylesheets/style.css" media="screen" rel="stylesheet" type="text/css" />
	</head>
	<body>

<div class='content'>	
    <div class='back'>
        <a id='mailru_invite' href='javascript:history.back()'>
            <img src='/images/back_32.png' alt='Читать'/>
        </a>
    </div>     	

	<div style='text-align: center; margin-top: 100px;'>
		<h1>Функция не доступна</h1>
		<h2>В данный момент функция не доступна. Она будет включена в ближайщее время</h2>
	</div>
</div>

	</body>
</html>