<div class='rating'>
	<% @hash.each_with_index do |h, index| %>
		<div class='pane'>
			<div class='pos'>
				<%= index+1 %>
			</div>
			<div class='score'>
				<%= h[:score] %>
			</div>

			<div class='clear'></div>

			<div class='avatar'>
				<img src='<%= h[:avatar]%>' />
			</div>
			<div class='link'>
				<a href='/user/<%= h[:uid] %>/posts' ><%= h[:name] %></a>
			</div>
		</div>
	<% end %>
</div>