<%= paginate @stories, :route => :stories %>

<div class='page'>

<% @stories.each do |p| %>
    <div class='post corners' style='margin: 10px; padding: 10px'  id='<%= p.id %>'>
        <% if p.user %>
          <div class='author' style='background-image: url("<%= p.user.avatar_small %>");'>
                <a href='/user/<%= p.user.id %>/posts' ><%= p.user.name %></a><br/>
          </div>
        <% end %>
        <div class='created_at'>
          <%= p.created_at.strftime("%Y.%m.%d | %H:%M") %>
        </div>    
            <div class='category'>
              <%= "Раздел | #{p.category.name}" if p.category %> 
        </div>
        <div class='clear'></div>

        <h2 style='color: #000; text-align: center'><%= simple_format p.title %></h2>
        <div class='read' style='margin: 0 auto; text-align: center;'>
            <a class='read_story' href='#' id='<%= p.id %>'>
                <img src='/images/read_32.png' alt='Читать'/>
            </a>
        </div>        

        <div class='actions'>

            <div class='comments'><a href="#" id='<%= p.id %>' class='show_comments_link'><%= p.comments.count %></a></div>
      <% if p.user == current_user %>
      <div class='remove'>
        <a id='<%= p.id %>' href='#' class='remove_post'>
          <img src='/images/remove_32.png' alt='Удалить'/>
        </a>
      </div>
      <% end %>            
      <div class='votes_box'>
          <a href='#' class='post_vote_up' id='<%= p.id %>'><img src='/images/up_24.png'></a>
          <span id='votes'><%= p.rating %></span>
          <a href='#' class='post_vote_down' id='<%= p.id %>'><img src='/images/down_24.png'></a>
      </div>
            <div class='clear'></div>
        </div>
    </div>
<% end %>

</div>

<%= paginate @stories, :route => :stories %>
