<div class='panel'>
    <div class='back'>
        <a class='story_back' href='#'>
            <img src='/images/back_32.png' alt='Читать'/>
        </a>
    </div>     	
    <div class='clear'></div>
</div>
<div class='title' style='text-align: center'>
	<h2><%= @story.title %></h2>
</div>
<div class='page' style='font-size: 13px; margin: 10px 20px; line-height: 160%; font-family: Verdana, sans-serif;'>
<%= simple_format (@story.body) %>
</div>