<div style='display:none'>
    <div id='new_story_dialog' style='margin: 20px; padding: 10px;'>
        <form id='new_story_form' action='/story' method='post'>
            <div class='field'>
                <label>Раздел</label>
                <select  name='category' id='story_category'>
                    <option disabled selected='selected' value='0'>Выберите категорию</option>
                    <% @categories.each do |c| %>
                        <option value='<%= c.id %>'><%= c.name %></option>
                    <% end %>
                </select>
                <div class='error' id='story_category_error' style='color: red; padding-left: 40px; display:none;'>
                    Категория не выбрана
                </div>                
            </div>        
            <div class='field'>
                <label for='image'>Название</label>
                <input type='text' name='title' id='story_title' value='' style='width: 400px;'/>
                <div class='error' id='story_title_error' style='color: red; padding-left: 40px; display:none;'>
                    Название слишком короткое
                </div>                
            </div>
            <div class='field'>
                <label for='image'>Текст</label><br/>
                <textarea name='body' id='story_content' value='' style='width: 500px; height: 400px;'/></textarea>
                <div class='error' id='story_content_error' style='color: red; padding-left: 40px; display:none;'>
                    Содержимое должно быть более 100 символов
                </div>                
            </div>
            <div class='field'>
                <input type='checkbox' name='is_published' checked/>Опубликовать в ленте
            </div>                 
            <div class='actions'>
                <input type='submit' value='Отправить' />
            </div>
        </form>
    </div>
</div>

<script type="text/javascript">
$(document).ready(function() {
$("#new_story_link").fancybox({
                'titlePosition'     : 'inside',
                'transitionIn'      : 'elastic',
                'transitionOut'     : 'elastic'
            });

$('#new_story_form').submit(function () {
    var submit = true;
    var category = $('select#story_category option:selected').val();    
    if (category == '0') {
        $('div#story_category_error').fadeIn();
        submit = false;
    } else {
        $('div#story_category_error').fadeOut();
    }
    var title = $('input[type=text]#story_title').val();
    if (title.length < 5) {
        $('div#story_title_error').fadeIn();
        submit = false;
    } else {
        $('div#story_title_error').fadeOut();
    }    
    var content = $('textarea#story_content').val();
    if (content.length < 100) {
        $('div#story_content_error').fadeIn();
        submit = false;
    } else {
        $('div#story_content_error').fadeOut();
    }
    return submit;
});


});
</script>

<div id='wrapper'>
    <div class='panel'>
        <div class='filter'>
            <select id='story_category_select' name='category'/>
                <option value='all' selected>Все</option>
                <% @categories.each do |c| %>
                    <option value='<%= c.id %>'><%= c.name %></option>
                <% end %>
            </select>
        </div>
        <div class='actions' style='float: left; margin-left: 100px;' >
            <a href='#new_story_dialog' id='new_story_link' style='line-height: 32px; height: 32px; display: inline-block; vertical-align: top;'><img src='/images/plus_32.png' alt='Добавить'/>Добавить</a>
        </div>
        <div style='color: #0A499B; font-size: 9pt; float: right'>
            Показано <%= @stories.limit_value %> из <%= @stories.total_count %>
        </div>        
        <div class='clear'></div>
    </div>

    <div class='collection'>
      <%= erb :stories_collection %>
    </div>
</div>