
<div style='display:none'>
    <div id='new_tweet_dialog' style='margin: 20px; padding: 10px;'>
        <form id='new_twit_form' action='/twit' method='post'>
            <div class='field'>
                <label>Раздел</label>
                <select  name='category' id='twit_category'>
                    <option disabled selected='selected' value='0'>Выберите категорию</option>
                    <% @categories.each do |c| %>
                        <option value='<%= c.id %>'><%= c.name %></option>
                    <% end %>
                </select>
                <div class='error' id='twit_category_error' style='color: red; padding-left: 40px; display:none;'>
                    Категория не выбрана
                </div>
            </div>
            <div class='field'>
                <label>Содержимое</label><br />
                <textarea name='title' value='' style='width: 400px; height: 100px;' id='twit_content'/></textarea>
                <div class='error' id='twit_content_error' style='color: red; padding-left: 40px; display:none;'>
                    Твит слишком короткий
                </div>                
            </div>
            <div class='field'>
                <input type='checkbox' name='is_published' checked />Опубликовать в ленте
            </div>                 
            <div class="actions">
                <input type='submit' value='Отправить' />
            </div>
        </form>
    </div>
</div>

<script type="text/javascript">
$(document).ready(function() {
$("#new_tweet_link").fancybox({
                'titlePosition'     : 'inside',
                'transitionIn'      : 'elastic',
                'transitionOut'     : 'elastic'
            });

$('#new_twit_form').submit(function () {
    var submit = true;    
    var category = $('select#twit_category option:selected').val();
    if (category == '0') {
        $('div#twit_category_error').fadeIn();
        submit = false;
    } else {
        $('div#twit_category_error').fadeOut();
    }
    var content = $('textarea#twit_content').val();
    if (content.length < 10) {
        $('div#twit_content_error').fadeIn();
        submit = false;
    } else {
        $('div#twit_content_error').fadeOut();
    }
    return submit;
});


});
</script>

<div class='panel'>
    <div class='filter'>
        <select  id='twit_category_select' name='category'>
            <option value='all' selected>Все</option>
            <% @categories.each do |c| %>
                <option value='<%= c.id %>'><%= c.name %></option>
            <% end %>
        </select>
    </div>
    <div class='actions' style='float: left; margin-left: 100px;' >
        <a href='#new_tweet_dialog' id='new_tweet_link'  style='line-height: 32px; height: 32px; display: inline-block; vertical-align: top;'><img src='/images/plus_32.png' alt='Добавить'/>Добавить</a>
    </div>
    <div style='color: #0A499B; font-size: 9pt; float: right'>
        Показано <%= @twits.limit_value %> из <%= @twits.total_count %>
    </div>        
    <div class='clear'></div>
</div>

<div class='collection'>
  <%= erb :twits_collection %>
</div>