<div class='page'>

<table>
<% @users.each do |u| %>
  <tr>
    <td><img src='<%= u.avatar_small %>' /></td>
    <td><a href='<%= u.link%>' target='_blank'><%= u.name %></a></td>
    <td><%= u.last_login_at.strftime("%Y.%m.%d | %H:%M") %></td>
  </tr>
<% end %>
</table>

</div>

<%= paginate @users, :route => :users %>