<%= paginate @posts, :route => :user_posts %>

<div class='page'>

<% @posts.each do |p| %>
	<div class='post corners' style='margin: 10px; padding: 10px'  id='<%= p.id %>'>
        <div class='created_at'>
          <%= p.created_at.strftime("%Y.%m.%d | %H:%M") %>
        </div>    
        <div class='category' style='float: left;'>
            <%= "Раздел | #{p.category.name}" if p.category %> 
        </div>
        <div class='clear'></div>

		<h2 style='color: #000; text-align: center'><%= simple_format p.title %></h2>
		<% case p when Story %>
        <div class='read' style='margin: 0 auto; text-align: center;'>
            <a class='read_story' href='#' id='<%= p.id %>'>
                <img src='/images/read_32.png' alt='Читать'/>
            </a>
        </div>      
		<% when Image %>
		    <div class='image_container' style='margin: 0 auto; text-align: center;'>
		    	<%= "<img style='display: inline-block; ' src='#{p.image.url}' />" %>
		    </div>
  		<% end %>

	  	<div class='actions'>
      <% if p.instance_of?(Image) %>
      <div class='send_to_friend'>
        <a href='#send_to_friends' class='send_to_friends_link'>
          <img src='/images/send_32.png' alt='Отправить другу'/>
        </a>
      </div>
      <% end %>
		    <div class='comments'>
		    	<a href="#" id='<%= p.id %>' class='show_comments_link'><%= p.comments.count %></a>
		    </div>
      <% if p.user == current_user %>
      <div class='remove'>
        <a id='<%= p.id %>' href='#' class='remove_post'>
          <img src='/images/remove_32.png' alt='Удалить'/>
        </a>
      </div>
      <% end %>          
      <div class='votes_box'>
          <a href='#' class='post_vote_up' id='<%= p.id %>'><img src='/images/up_24.png'></a>
          <span id='votes'><%= p.rating %></span>
          <a href='#' class='post_vote_down' id='<%= p.id %>'><img src='/images/down_24.png'></a>
      </div>
		  	<div class='clear'></div>
	  	</div>
	</div>
<% end %>

</div>

<%= paginate @posts, :route => :user_posts %>