<div id='wrapper'>

<div class='panel'>
    <div style='color: #0A499B; font-size: 9pt; float: right'>
        Показано <%= @posts.limit_value %> из <%= @posts.total_count %>
    </div>    
    <div class='clear'></div>
</div>
<div class='collection'>
  <%= erb :user_posts_collection %>
</div>

</div>
