<!DOCTYPE html>
<html>
	<head>
		<title>Лента</title>
		<meta http-equiv="content-type" content="text/html; charset=utf-8">

		<script src="/javascripts/jquery.min.js" type="text/javascript"></script>
		<script src='/javascripts/jquery.tinyscrollbar.min.js' type='text/javascript'></script>
		<script type="text/javascript" src="/javascripts/jquery.mousewheel-3.0.4.pack.js"></script>
		<script type="text/javascript" src="/javascripts/jquery.fancybox-1.3.4.pack.js"></script>
		<script type="text/javascript" src="/javascripts/jquery.form.js"></script>

    <!-- <script src="/javascripts/application.js" type="text/javascript"></script> -->
		<script src="http://vk.com/js/api/xd_connection.js?2" type="text/javascript"></script>

		<link href="/stylesheets/style.css" media="screen" rel="stylesheet" type="text/css" />
		<link rel="stylesheet" type="text/css" href="/stylesheets/jquery.fancybox-1.3.4.css" media="screen" />
	</head>
	<body>

<script type='text/javascript'>
var selected_friends = [];
var image_link = '';
var image_id = '';
var friends_l = [];

$(document).ready(function() {
  VK.init(function() {
    VK.api('getUserSettings', {'test_mode': 1}, function(data) {
      if (data.response) {
        var grants = data.response;
        if (!(grants & 2)) {
          VK.callMethod('showSettingsBox', 2);
        }
      } else {
        alert(data.error.error_msg);
      }
    });
  });

  	$('#mailru_invite').live('click', function() {
//i	  VK.callMethod("showInviteBox");

		selected_friends = [];
//		main_div = $(this).parents('div.image.post');
//		image_id = main_div.attr('id');
//		image_link = main_div.find('#url').attr('href');
		$.fancybox.showActivity();
		VK.api('friends.get',{'fields':'uid, first_name, last_name, nickname, photo', 'test_mode': 1},function(data) {
                 if (data.response) {
                     list = data.response;
			var l = [];
			for (var i=0; i<list.length; i++)
			{
				l.push({
					'uid': list[i].uid,
					'pic': list[i].photo,
					'name': list[i].first_name + ' ' + list[i].last_name
				});
			}
			friends_l = l;


			var o = "";
			for (var i=0; i<list.length; i++)
			{
				o += "<div class='friend' id='" + list[i].uid +"'><div class='ava' style='background-image: url(" +
				list[i].photo + ");'></div>" + list[i].first_name + ' ' + list[i].last_name + '</div>';
			}
			o += "<div style='clear:both;'>";
			$('#friends').html(o);

			$.fancybox({
				'content': $('div#send_to_friends').html()
			});
			$.fancybox.resize();
                  }
		});
	});	

	$("#help_link").fancybox({
		'titlePosition'     : 'inside',
		'transitionIn'      : 'elastic',
		'transitionOut'     : 'elastic'
	});

});
</script>


<div style="display:none">
  <div id="pay_dialog" style='margin: 20px; padding: 10px'>
    <div class='payment'>
      Пополнить баланс
      <ul>
        <li>
          <a class='button' href='#' id='pay_0'>15</a> за 3 голоса
        </li>
        <li>
          <a class='button' href='#' id='pay_1'>40</a> за 5 голосов
        </li>
        <li>
          <a class='button' href='#' id='pay_2'>100</a> за 10 голосов
        </li>        
      </ul>

      <div class='clear'></div>
    </div>
    <div class='buy' style='display:none'>
      Купить
      <ul>
        <li>
          <a class='button' href='#' id='buy_0'>Безлимит
          </a>
          <span class='price'>30</span>
        </li>
      </ul>
      <div class='clear'></div>
    </div>    
  </div>
</div>

<div style="display:none">
  <div id="help_dialog" style='margin: 20px; padding: 10px'>
    <h1>Помощь по приложению</h1>
    <div class='description' style='margin: 10px;'>
      <p>
        Основаня закладка "Лента" - это список всех постов размещенных в приложении. Далее следуют тематические посты - "Твиты" (короткие сообщения), "Рассказы", "Картинки". На закладке "Мое" Вы можете посмотреть то, что когда-либо вы размещали в приложении, посмотреть комментарии и оценки. На вкладке "Друзья" - вы можете посмотреть, кто из ваших друзей уже есть в приложении и какого их рейтинги.
      </p>
      <p>
        Еще одна немало важная деталь. При нажатии на аватар любого пользователя, в любом месте приложения - вы переходите в список всех постов этого пользователя.
      </p>
    </div>
    <div class='icon_description' style='margin: 10px;'>
      <table>
        <tr>
          <td><img src='/images/friends_32.png' alt='Пригласить друзей'/></td>
          <td>"Пригласить друзей"</td>
        </tr>
        <tr>
          <td><img src='/images/rating_32.png' alt='Рейтинг'/></td>
          <td>"Рейтинг" - отображает сколько получили положительных оценок ваши посты (твиты, тексты и картинки)</td>
        </tr>            
        <tr>
          <td><img src='/images/money_32.png' alt='Благотворительность'/></td>
          <td>Пожертвования на развитие приложение и поддержание его в рабочем виде</td>
        </tr>
        <tr>
          <td><img src='/images/help_32.png' alt='Помощь'/></td>
          <td>Вызов окна "Помощи"</td>
        </tr>     
        <tr>
          <td><img src='/images/send_32.png' alt='Отправить'/></td>
          <td>"Отправить" - отправить понравившуюся картинку другу или подруге. Доступна только на вкладке "Картинки"</td>
        </tr>         
        <tr>
          <td><img src='/images/plus_32.png' alt='Добавить'/></td>
          <td>Добавить пост (твит, картинку или историю). Доступна только на соответствующих вкладках</td>
        </tr> 
        <tr>
          <td><img src='/images/remove_32.png' alt='Удалить'/></td>
          <td>"Удалить" - служит для удаления вашего "неудачного" поста</td>
        </tr> 
        <tr>
          <td><img src='/images/comments_32.png' alt='Комментарии'/></td>
          <td>Вызов окна "Комментарии", где вы можете пообщаться с другими пользователями на тему поста</td>
        </tr> 
        <tr>
          <td><img src='/images/up_24.png' alt='+'/><img src='/images/down_24.png' alt='-'/></td>
          <td>Голосование за пост. За один пост можно проголосовать один раз</td>
        </tr>                 
                           
      </table>
    </div>
    <div>
      <ul>
        <li>!!! <strong>Отправка картинок возможна только из вкладки "Картинки"</strong></li>
        <li>Вы всегда можете обратиться к разработчикам по адресу <a href='mailto:knasyrov@gmail.com'>knasyrov@gmail.com</a></li>
        </li>Приглашайте своих друзей - это позволит нам расширяться и добавлять новый функционал</li>
        <li>!!! <strong>ЗАПРЕЩАЕТСЯ РАЗМЕЩАТЬ МАТЕРИАЛЫ НАРУШАЮЩИЕ УСЛОВИЯ mail.ru</strong></li>
      </ul>
    </div>
  </div>
</div>

<div style='display:none'>
  <div id='send_to_friends' style='margin: 20px; padding: 10px; height: 500px;'>
    <div class='left_actions' style='float: left; height: 30px; margin-top: 4px; line-height: 30px; vertical-align: baseline;'>
      Вы выбрали <span id='selected_counter'>0</span> друзей
      <a class='button' id='send'>Отправить</a>    
    </div>
    <div class='right_actions' id='search_form' style='float: right;  height: 30px; margin-top: 4px;  line-height: 30px; vertical-align: baseline;'>
      Поиск <input type='text' id='search_query' />
      <!-- <a class='button search' id='search_friends' href='#'>Найти</a> -->
    </div>
    <div class='info' style='clear:both; width: 600px;'>

    </div>
    <div id='friends'>
    </div>
  </div>
</div>

<div style='display:none'>
  <div id='comments_window' style='margin: 20px; padding: 10px;'>
    <div id='pane' style='height: 500px; width: 600px;'>
      <div id='comments' style='height: 400px; overflow: auto;'>
      </div>
      <div class='new'>
        <form id='new_comment_form' method='post' action="" style='width: 515px;'>
          <div class='field'>
            <label>Комментарий</label><br>
            <textarea name='ctext' style='width: 500px;' id='comment_body'></textarea>
            <div class='error' id='comment_body_error' style='color: red; padding-left: 40px; display:none;'>
                Комментарий слишком короткий
            </div>                
          </div>
          <div class='actions'>
            <input type='submit' id='submit_comment' value='Отправить'>
          </div>
        </form>
      </div>      
    </div>
  </div> 
</div>



<div class='header'>
	<div class='user' style='background-image: url("<%= 'current_user.avatar_small' %>");'>
    <%= 'current_user.name' %>  
  </div>
  <div style='float: right;'>
    <div class='friends'>
    
      <a id='mailru_invite' href='#' style='line-height: 32px; height: 32px; display: inline-block; vertical-align: top'>
      <img src='/images/friends_32.png' alt='Пригласить друзей'/>
      </a>
    </div>  
    <div class='money'>
      <%= 'current_user.balance' %>
      <a href='#pay_dialog' id='pay_link' style='height: 24px; display: inline-block; vertical-align: middle'>
        <img src='/images/plus_24.png' alt='Пополнить баланс'/>
      </a>
    </div>
    <div class='rating'>
   	 <%= 'rating' %>
    </div>
    <div class='help'>
      <a href='#help_dialog' id='help_link' style='height: 24px; display: inline-block; vertical-align: middle'>
        <img src='/images/help_32.png' alt='Помощь'/>
      </a>
    </div>    
  </div>
	<div style='clear: both;'></div>
</div>

<div class='menu'>
	<ul>
		<li><a class='button' href='/posts' id='tweets' <%= "style='active'" if request.path_info =~ /^\/posts/ %> >Лента</a></li>
		<li><a class='button' href='/twits' id='tweets' <%= "style='active'" if request.path_info =~ /^\/twits/ %> >Твиты</a></li>
		<li><a class='button' href='/stories' id='posts' <%= "style='active'" if request.path_info =~ /^\/stories/ %> >Тексты</a></li>
		<li><a class='button' href='/images' id='pictures' <%= "style='active'" if request.path_info =~ /^\/images/ %> >Картинки</a></li>
		<li><a class='button' href='/user/<%= 'current_user.id' %>/posts' id='my' <%= "style='active'" if request.path_info =~ /^\/my/ %> >Мое</a></li>
		<li><a class='button' href='/rating' <%= "style='active'" if request.path_info =~ /^\/rating/ %> >Рейтинг</a></li>
    <% if false %>
    <li><a class='button' href='/followers' id='my' <%= "style='active'" if request.path_info =~ /^\/followers/ %> >Подписки</a></li>
    <% end %>
	</ul>
  <div class='clear'></div>
</div>

<div class='content'>
  <div id='story_content' style='display:none'>

  </div>

	<%= yield %>
</div>

  <div style='height: 10px; clear: both;'></div>

	</body>

</html>
