html, body {
	margin:0;
	padding:0;
	width:100%;
	height:100%;
	
	color: #555555;

	font-family: verdana, tahoma, sans-serif;
/*	font-family: 'Trebuchet MS', 'Lucida Grande', 'Segoe UI', Arial, Verdana, 'Lucida Sans Unicode', Tahoma, 'Sans Serif'; */
	font-size: 9pt;
	font-weight: normal;	
}


body
{
	width: 750px;
	padding: 5px;
}

ul, ol, li, h1, h2, h3, h4, h5, h6, pre, form, blockquote, fieldset, dl, dt, dd, caption {
margin: 0px;
padding: 0px;
}

/* ------------ UI ------------------ */

input[type='text'],input[type='email'],input[type='password'],input[type='submit'], textarea, select, a.button
{
	border-radius: 3px;	/* 8px */
	-webkit-border-radius: 3px;
	-moz-border-radius: 3px;
	-o-border-radius: 3px;

	border: 1px solid #AAA;
	padding: 3px 5px;
	color: #888;

	box-shadow: 0px 0px 5px #CCC;
	-webkit-box-shadow: 0px 0px 5px #CCC;
	-moz-box-shadow: 0px 0px 5px #CCC;
	-o-box-shadow: 0px 0px 5px #CCC;

	transition: all 300ms ease-in;
	text-decoration: none;

	background-color: #fff;
}

input[type='text']:hover,input[type='email']:hover,input[type='password']:hover, input[type='submit']:hover, textarea:hover, select:hover, a.button:hover
{
	color: #666;
	border-color: #66cccc;

	box-shadow: 0px 0px 6px #99ccff;
	-webkit-box-shadow: 0px 0px 6px #99ccff;
	-moz-box-shadow: 0px 0px 6px #99ccff;
	-o-box-shadow: 0px 0px 6px #99ccff;
}

input[type='text']:focus, input[type='email']:focus, input[type='password']:focus, input[type='submit']:focus, textarea:focus, select: focus, a.button:focus
{
	color: #333;
	border-color: #6699cc;

	box-shadow: 0px 0px 6px #66ccff;
	-webkit-box-shadow:  0px 0px 6px #66ccff;
	-moz-box-shadow: 0px 0px 6px #66ccff;
	-o-box-shadow: 0px 0px 6px #66ccff;
}

input, textarea, select, a.button {
	font-family: verdana, tahoma, sans-serif;
	font-size: 10pt;
}

input[type='submit'], a.button {
	padding: 3px 5px;
}

label {
	font-family: verdana, tahoma, sans-serif;
	font-size: 11pt;
}

a {
	color: #0A499B;
}


table { 
	border-collapse: collapse; /* Убираем двойные линии между ячейками */
	border: 0px;
} 
table tr td { 
	padding: 5px 15px;
    border: 1px solid #ccc; 
    text-align: center; 
} 

table tr td:first-child, table tr th:first-child
{
	border-left: none;
}

table tr td:last-child
{
	border-right: none;
}

table tr:first-child td, table tr:first-child
{
	border-top: none;
}

table tr:last-child td, table tr:last-child
{
	border-bottom: none;
}


div.center
{
	text-align: center;
	margin: 0 auto;
}

#pagination
{
	margin: 0 auto;
	text-align: center;
	margin-top: 10px;
}

#pagination ul
{
	display: inline-block;
}

#pagination li {
	border:0; 
	margin:0; 
	padding:0;
	font-size:11px;
	list-style:none;
	float: left;
}

#pagination a {
	border:solid 1px #DDDDDD;
	margin-right:2px;
	color: #0A499B;
}

#pagination .previous-off, #pagination .next-off {
	color:#666666;
	display:block;
	float:left;
	/* font-weight:bold; */
	padding:3px 4px;
}

#pagination .next a, #pagination .previous a {
	/* font-weight:bold; */
	border:solid 1px #FFFFFF;
}

#pagination .active {
	color:#ff0084; 
	font-weight:bold;
	display:block;
	float:left;
	/*padding:4px 6px;*/
}

#pagination a:link, #pagination a:visited {
	color: #0A499B;
	display:block;
	float:left;
	padding:3px 6px;
	text-decoration:none;
}

#pagination a:hover {
	border:solid 1px #666666;
}

ul,ol {list-style: none;}

h1 {
	color: #0A499B;
	font-size:14pt;
	font-weight: normal;
}   

h2 {
	color: #0A499B;
	font-size: 12pt;
	font-weight: normal;
}   
h3 {
	color: #0A499B;
	font-size:8pt;
	font-weight: normal;
}


div.header 
{
	margin-top: -5px;
	padding: 10px;

    border: 1px solid #CCC;
    border-top: none;
    border-bottom-left-radius: 5px 5px; 
    -o-border-bottom-left-radius: 5px 5px; 
    -moz-border-bottom-left-radius: 5px 5px; 
    -webkit-border-bottom-left-radius: 5px 5px; 
    border-bottom-right-radius: 5px 5px; 
    -o-border-bottom-right-radius: 5px 5px; 
    -moz-border-bottom-right-radius: 5px 5px; 
    -webkit-border-bottom-right-radius: 5px 5px; 
    background-color: #eeeeee;
}


div.header .user
{
	height: 45px;
	line-height: 45px;
	float: left;
	color: #0A499B;
	font-size: 14pt;
	font-weight: normal;
	background-repeat: no-repeat;
	background-position: left center;
	padding-left: 50px;	
}

div.header .money
{
	margin: 2px;
	padding-left: 32px;
	height: 32px;
	line-height: 32px;
	background: url("../images/money_32.png") no-repeat;
	float: left;
	color: #0A499B;
	font-size: 12pt;
	font-weight: normal;	
	padding-right: 30px;
	
}

div.header .rating
{
	margin: 2px;
	padding-left: 32px;
	height: 32px;
	line-height: 32px;
	background: url("../images/rating_32.png") no-repeat;
	float: left;
	color: #0A499B;
	font-size: 12pt;
	font-weight: normal;		
}

div.header .friends
{
	margin: 2px;
	height: 32px;
	line-height: 32px;
	float: left;
	color: #0A499B;
	font-size: 12pt;
	font-weight: normal;		
	padding-right: 30px;	
}

div.header .help {
	margin: 2px;
	height: 32px;
	float: left;
	color: #0A499B;
	font-size: 12pt;
	font-weight: normal;
}


div.menu 
{
	background-color: #eeeeee;
	margin: 10px -5px;
	padding: 5px 10px;
	border-top: 1px solid #CCC;
	border-bottom: 1px solid #CCC;
}

div.menu ul
{
	list-style: none;
}

div.menu li
{
	float: left;
	padding-right: 10px;
	margin: 5px 0;
}

div.content
{
	clear: both;
}

div.post .author
{
	height: 45px;
	line-height: 45px;
	float: left;
	color: #0A499B;
	font-size: 12pt;
	font-weight: normal;
	background-repeat: no-repeat;
	background-position: left center;
	padding-left: 50px;		
}

div.comment
{
	margin: 2px;
	padding: 5px;	
	border: 1px solid #CCC;	
	background-color: #eeeeee;		
}

div.comment .info
{
	color: #0A499B;
	font-size: 10px;
	font-weight: normal;
}

div.comment .info .author
{
	float: left;
	margin-left: 10px;
}

div.comment .info .created_at
{
	float: right;
	margin-right: 100px;
}

div.comment .info .rating
{
	float: right;
}

div.comment .body
{
	margin-top: -15px;
	padding-left: 55px;	
}

div.post .author a
{
	font-size: 11pt;
}

div.post .category
{
	margin-right: 100px;
	float: right;
	color: #0A499B;
	font-size: 11pt;
	font-weight: normal;	
}

div.post .created_at
{
	float: right;
	color: #0A499B;
	font-size: 11pt;
	font-weight: normal;	
}


div
{
	vertical-align: baseline;
}

.form
{
	float:left;
}

.form .field div
{
	float: left;
	line-height: 40px; 
}

.form .field
{
	float: left;
	margin-right: 20px;
}

.form .field > div:first-child {
	float: left;
	line-height: 40px;
	margin-right: 15px;
	width: 150px;
}

.form .field .hint
{
	font-size: 8pt;
	margin-left: 15px;
}

.form .field input
{
	width: 300px;
}

.form .links a
{
	color: #878787;
	font-family: verdana, tahoma, sans-serif;
	font-size: 9pt;
	font-weight: normal;
	margin-left: 5px;
	margin-right: 5px;
}

.form .break
{
	border-bottom: 1px solid #ccc; width: 450px; margin: 10px 15px;
	clear: both;
}

div.form br
{
	clear: both;
}

.form .actions
{
	clear: both;
	margin-top: 5px; 
	float: left;
}

.form .links
{
	clear: both;
	margin: 10px 20px;
}


div.clear
{
	clear: both;
	margin: 0;
	padding: 0;
	border: 0;
}


div.comments
{
	margin: 2px;
	padding-left: 32px;
	height: 32px;
	line-height: 32px;
	background: url("../images/comments_32.png") no-repeat;
	float: left;
}

div.comments a
{
	color: #0A499B;
	font-size: 12pt;
	font-weight: normal;		
}

div.votes_box
{
	height: 24px;
	line-height: 24px;
	vertical-align: baseline;
	float: right;
	color: #0A499B;
	font-size: 12pt;
	font-weight: normal;	
}



div.send_to_friend
{
	float: left;
	height: 32px;
	line-height: 32px;
}

h1.title
{
	
}

div.post
{
	margin: 2px;
	padding: 5px;	
	border: 1px solid #CCC;	
	background-color: #eeeeee;	
}

div.image.post
{
	margin: 2px;
	padding: 5px;

	float: left;
	width: 225px;
	min-height: 280px;
}



    * {
      font-family: arial;
      font-size: 9pt;
    }
    .ava {
      width: 45px;
      height: 45px;
      float: left;
      clear: none;
      background-position: center;
      background-repeat: no-repeat;
      vertical-align: middle;
      margin-right: 4px;
      cursor: pointer;
      font-size: 0;
      line-height: 0;
    }

    .image_thumb 
    {
      width: 200px;
      height: 200px;
      display: inline-block;
      clear: none;
      background-position: center;
      background-repeat: no-repeat;
      vertical-align: middle;
      margin: 4px;
      font-size: 0;
      line-height: 0;    	
    }

    .friend {
      width: 150px;
      height: 45px;
      float: left;
      margin: 0 10px 10px 0;
      cursor: pointer;
      color: #888;
      padding: 5px 5px;
      border: 1px solid #fff;
    	border-radius: 4px;
	    -webkit-border-radius: 4px;
	    -moz-border-radius: 4px;
	    -o-border-radius: 4px;
    }

    .comment {
      width: 520px; 
      margin: 10px 0;
      border: 1px solid #fff;
      border-radius: 4px;
      -webkit-border-radius: 4px;
      -moz-border-radius: 4px;
      -o-border-radius: 4px;     
    }

    .friend:hover {
	    border: 1px solid #eee;
      background-color: #eeeeff;
    }

    .friend.selected {
      color: #000;
      border: 1px solid #000;
    }

    .button {
      cursor: pointer;
    }

    .button.select_all {

    }

#friends
{
width: 620px;
height: 380px;
overflow: auto;
}


div.page
{
	overflow: auto; 
	height: 760px; 
	margin-left: -2px;
	margin-right: -2px;
	/*width: 760px;	*/
}

div.panel .actions
{
	float: right;
}

div.panel .filter
{
	float: left;
}

div.payment
{
	font-size: 11pt !important;
	font-weight: normal !important;		
}

div.payment ul
{
	list-style: none;
}


div.payment li
{
	float: left;
	margin-right: 5px;
}

div.payment li a
{
	margin: 2px;
	padding-left: 32px;
	height: 34px;
	line-height: 34px;
	background: url("../images/money_32.png") no-repeat;
	background-repeat: no-repeat;
	background-position: left center;
	color: #0A499B;
	font-size: 10pt;
	font-weight: normal;	
	display: inline-block;
}


div.buy
{
	margin-top: 20px;
	font-size: 11pt !important;
	font-weight: normal !important;		
}

div.buy ul
{
	list-style: none;
}


div.buy li
{
	float: left;
	margin-right: 5px;
}

div.buy li a
{
	margin: 2px;
	height: 32;
	line-height: 32px;
	color: #0A499B;
	font-size: 14px;
	font-weight: normal;	
	display: inline-block;
}

div.buy .price
{
	margin: 2px;
	padding-left: 32px;
	height: 34px;
	line-height: 34px;
	background: url("../images/money_32.png") no-repeat;
	background-repeat: no-repeat;
	background-position: left center;
	color: #0A499B;
	font-size: 10pt;
	font-weight: normal;	
	display: inline-block;	
}

.actions .remove {
	margin: 2px;
	margin-left: 20px;
	height: 32px;
	line-height: 32px;
	float: left;
	color: #0A499B;
	font-size: 12pt;
	font-weight: normal;		
	padding-right: 30px;	
}

form div.field label
{
	display: inline-block;
	width: 90px;
	line-height: 30px;
}

form div.actions
{
	margin-top: 5px;
	float: right;
}

.rating {
	overflow: auto; 
	height: 760px; 
	margin-left: -2px;
	margin-right: -2px;	
}

.rating div.pane {
  display:inline-block;
  margin: 20px;
  margin-bottom: 30px;
  width: 100px;
  height: 100px;
  float: left;
}

.rating .pos 
{
	float: left;
	font-size: 10px;
	font-weight: bold;
	margin: 3px;
}

.rating .score
{
	float: right;
	font-size: 14px;
	font-weight: bold;
	color: black;
	margin: 3px;
}

.rating .avatar
{
	text-align: center;
	margin: 3px auto;
}

.rating .link
{
	text-align: center;
	margin: 3px auto;
}


.rating div.pane {
  background:#fff;
  position: relative;
  bottom:-12px;
  -webkit-box-shadow: rgba(0, 0, 0, 0.14) 0px 0px 3px;
  -moz-box-shadow: rgba(0, 0, 0, 0.14) 0px 0px 3px;
  box-shadow: rgba(0, 0, 0, 0.14) 0px 0px 3px;
}

.rating div.pane a {
  /*color:#58a22c;*/
  text-decoration:none;
  position: relative;
  top: -4px;
}

.rating div.pane {
/*  content:""; */
 /* position:absolute; */
/*  z-index:-1; */
/*  bottom:15px;
  left:10px;
  width:50%;
  height:20%; */
  -webkit-box-shadow:0 15px 10px rgba(44, 104, 225, 0.25);
  -moz-box-shadow:0 15px 10px rgba(44, 104, 225, 0.25);
  box-shadow:0 15px 10px rgba(44, 104, 225, 0.25);
  -webkit-transform:rotate(-4deg);
  -moz-transform:rotate(-4deg);
  -o-transform:rotate(-4deg);
  transform:rotate(-4deg);
}